<div class="container">
<br/>
<br/>
<div class="frosty-welcome col-xs-10 col-xs-offset-1 text-center">
	<br/>
	<h1>Rails-Riders Chess App</h1>
	<h2>Available games:</h2>	
	<ul class="game-list">
		<% @games.each do |game| %>
				<li>
				<%= "Game #{game.id}" %><%= link_to 'Let\'s Do This', game_path(game), :class => 'btn btn-success btn-xs play-game' %>
				<br/>
				<%= "White Player: #{game.white_player_id}" %>
				<br/>
				<%="Black Player: #{game.black_player_id}" %> </li>
				<br/>
		<% end %>
	</ul>
	<h4 class="text-center"> No game to join?</h4><%#= link_to 'Create New Game', games_path, :class => 'btn btn-danger btn-sm text-center', method: :post %>
	<br/>
	<br/>
</div>
<nav class="navbar-inverse navbar-fixed-bottom text-center">
	<div class="credit">Photo credit: <a href="https://www.flickr.com/photos/nestorgalina/3707322819/">nestor galina</a> / <a href="http://foter.com/">Foter</a> / <a href="http://creativecommons.org/licenses/by/2.0/">CC BY</a>
	</div>
</nav>
</div>