// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$shadow: 0px 1px 3px rgba(25, 25, 25, 0.75);

.game-container {
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.game-container h1 {
  color: white;
  text-shadow: $shadow;
}

.chess-board {
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

.chess-board th {
  padding: .5em;
}

.chess-board td {
  border: 1px solid;
  width: 4em;
  height: 4em;
  position: relative;
}

.chess-board .light {
  background: #eee;
}

.chess-board .dark {
  background: #323232;
}

a.square-link {
  display: block;
  height: 4em;
  width: 4em;
  position: absolute;
  top: 0px;
  left: 0px;
}

// Change color of the turn info title for white players
.turn-info__player.player-0 {
  color: #111;
  text-shadow: 0px 1px 10px rgba(255,255,255,0.75);
}

// Change color of the turn info title for black players
.turn-info__player.player-1 {
  color: #EEEEEE;
  text-shadow: 0px 1px 10px rgba(0,0,0,0.75);
}




