// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-container {
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.chess-board { 
  border-spacing: 0; 
  border-collapse: collapse; 
}
    
.chess-board th { 
  padding: .5em; 
}

.chess-board td { 
  border: 1px solid; 
    width: 4em; 
    height: 4em;

}

.chess-board .light { 
  background: #eee; 
}

.chess-board .dark { 
  background: #323232; 
}







